@model FinancePro.Areas.WebFormArea.Models.MemberTransferViewModel
@{
    ViewBag.Title = "会员转账";
    Layout = "~/Views/_WebFormLayout.cshtml";
}
<table width="871" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td width="11" align="left"><img src="/webasset/images/index-2-l.jpg" width="11" height="36" /></td>
        <td width="204" align="left" background="/webasset/images/index-2-bj.jpg"><strong><font style="font-size:14px" color="#000000">财务管理</font></strong></td>
        <td width="17" align="left"><img src="/webasset/images/index-2-2.jpg" width="17" height="36" /></td>
        <td align="left" background="/webasset/images/index-2-bj.jpg"><strong><font style="font-size:14px" color="#000000">会员转账</font></strong></td>
        <td width="10" align="right"><img src="/webasset/images/index-2-3.jpg" width="10" height="36" /></td>
    </tr>
</table>
<table width="871" height="303" border="0" cellpadding="0" cellspacing="0" background="/webasset/images/bj2.jpg">
    <tr>
        <td width="11">&nbsp;</td>
        <td width="204" align="left" valign="top">
            <table width="96%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td height="14">&nbsp;</td>
                </tr>
                <tr>
                    <td height="36" background="/webasset/images/bj-01.jpg" style="background-repeat:no-repeat;"><a href="tixian.htm">申请提现</a></td>
                </tr>
                <tr>
                    <td height="36" background="/webasset/images/bj-01.jpg" style="background-repeat:no-repeat;"><a href="tixianlist.htm">提现列表</a></td>
                </tr>
                <tr>
                    <td height="36" background="/webasset/images/bj-01.jpg" style="background-repeat:no-repeat;"><a href="huiyuanzhuanzhang.htm">会员转账</a></td>
                </tr>
                <tr>
                    <td height="36" background="/webasset/images/bj-01.jpg" style="background-repeat:no-repeat;"><a href="zhuanzhangliebiao.htm">转账列表</a></td>
                </tr>
                <tr>
                    <td height="36" background="/webasset/images/bj-01.jpg" style="background-repeat:no-repeat;"><a href="shouyimingxi.htm">收益明细</a></td>
                </tr>
            </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td height="28">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="33" background="/webasset/images/fenlei-bj.jpg"><strong><font style="font-size:14px" color="#000000">帐号管理</font></strong></td>
                            </tr>
                            <tr>
                                <td height="36" background="/webasset/images/bj-01.jpg" style="background-repeat:no-repeat;"><a href="member.htm">个人资料</a></td>
                            </tr>
                            <tr>
                                <td height="36" background="/webasset/images/bj-01.jpg" style="background-repeat:no-repeat;"><a href="edit_password.htm">修改密码</a></td>
                            </tr>

                        </table>
                    </td>
                </tr>
            </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td height="234" align="center" valign="bottom"><img src="/webasset/images/vip.jpg" width="184" height="221" /></td>
                </tr>
            </table>
        </td>
        <td width="13" align="left" valign="top">&nbsp;</td>
        <td width="643" align="center" valign="top">
            @using (Html.BeginForm("MemberTransfer", "WebHome", new { area = "WebFormArea" }, FormMethod.Post))
            { <table width="97%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td>&nbsp;</td>
                </tr>
            </table>
                <table width="96%" border="1" cellpadding="0" cellspacing="0" bordercolor="#666666" style="border-collapse:collapse;">
                    <tr>
                        <td height="44" align="center" colspan="2"><span class="STYLE1">会员转账</span></td>
                    </tr>
                    <tr>
                        <td height="44" align="center">转账类型</td>
                        <td height="44" align="left">
                            &nbsp;&nbsp;
                            <select id="transfer_TransferType" name="transfer.TransferType" style="width:50%" onchange="valuechang()">
                                <option value="1">报单币</option>
                                <option value="2">积分</option>
                                <option value="3">购物币</option>
                                <option value="4">股权币</option>
                                <option value="5">复利币</option>
                                <option value="6">游戏币</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td height="44" align="center">接收会员</td>
                        <td height="44" align="left">
                            &nbsp;&nbsp;@Html.TextBoxFor(m => m.transfer.ReceiveMemberCode, new { @placeholder = "会员编号" })
                        </td>
                    </tr>
                    <tr>
                        <td height="44" align="center">转账金额</td>
                        <td height="44" align="left">
                            &nbsp;&nbsp;<input name="transfernum" id="transfernum" type="number" step="0.1" size="10" value="0" onchange="valuechang()" />
                           @Html.HiddenFor(m=>m.feetype)
                        </td>
                    </tr>
                    <tr>
                        <td height="44" align="center">转账手续费</td>
                        <td height="44" align="left">&nbsp;&nbsp;@Html.TextBoxFor(m => m.transfer.CounterFee, new { @disabled = "disabled" })
                    </tr>
                    <tr>
                        <td height="44" align="center">实际转账金额</td>
                        <td height="44" align="left">&nbsp;&nbsp;@Html.TextBoxFor(m => m.transfer.TransferNumber, new { @disabled = "disabled" })</td>
                    </tr>
                    <tr>
                        <td height="44" align="center">备注</td>
                        <td height="44" align="left">&nbsp;&nbsp;@Html.TextBoxFor(m => m.transfer.TransferRemark, new { @style = "width:80%" })</td>
                    </tr>
                    <tr>
                        <td height="44" colspan="2" align="center">
                            <label>
                                <input type="submit" name="Submit" value="确定转账" /><span style="color:red">@Model.ErrorText</span>
                            </label>
                        </td>
                    </tr>
                </table>
            }
        </td>
    </tr>
</table>

