
@{
    ViewBag.Title = "消息列表";
    Layout = "~/Views/_WebFormLayout.cshtml";
}

<table width="871" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td width="11" align="left"><img src="/webasset/images/index-2-l.jpg" width="11" height="36" /></td>
        <td width="204" align="left" background="/webasset/images/index-2-bj.jpg"><strong><font style="font-size:14px" color="#000000">邮件中心</font></strong></td>
        <td width="17" align="left"><img src="/webasset/images/index-2-2.jpg" width="17" height="36" /></td>
        <td align="left" background="/webasset/images/index-2-bj.jpg"><strong><font style="font-size:14px" color="#000000">收件箱</font></strong></td>
        <td width="10" align="right"><img src="/webasset/images/index-2-3.jpg" width="10" height="36" /></td>
    </tr>
</table>
<table width="871" height="303" border="0" cellpadding="0" cellspacing="0" background="/webasset/images/bj2.jpg">
    <tr>
        <td width="11">&nbsp;</td>
        <td width="204" align="left" valign="top">
            <table width="96%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td height="14">&nbsp;</td>
                </tr>
                <tr>
                    <td height="36" background="/webasset/images/bj-01.jpg" style="background-repeat:no-repeat;"><a href="a_email.htm">写邮件</a></td>
                </tr>
                <tr>
                    <td height="36" background="/webasset/images/bj-01.jpg" style="background-repeat:no-repeat;"><a href="f_email.htm">发件箱</a></td>
                </tr>
                <tr>
                    <td height="36" background="/webasset/images/bj-01.jpg" style="background-repeat:no-repeat;"><a href="s_email.htm">收件箱</a></td>
                </tr>
            </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td height="28">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="33" background="/webasset/images/fenlei-bj.jpg"><strong><font style="font-size:14px" color="#000000">帐号管理</font></strong></td>
                            </tr>
                            <tr>
                                <td height="36" background="/webasset/images/bj-01.jpg" style="background-repeat:no-repeat;"><a href="member.htm">个人资料</a></td>
                            </tr>
                            <tr>
                                <td height="36" background="/webasset/images/bj-01.jpg" style="background-repeat:no-repeat;"><a href="edit_password.htm">修改密码</a></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td height="234" align="center" valign="bottom"><img src="/webasset/images/vip.jpg" width="184" height="221" /></td>
                </tr>
            </table>
        </td>
        <td width="13" align="left" valign="top">&nbsp;</td>
        <td width="643" align="center" valign="top">
            <table width="97%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td>&nbsp;</td>
                </tr>
            </table>
            <table width="96%" border="1" cellpadding="5" cellspacing="0" bordercolor="#666666" style="border-collapse:collapse;">
                <tr>
                    <td width="17%" height="28" align="center"><strong>发件人</strong></td>
                    <td width="66%" align="center"><strong>标题</strong></td>
                    <td width="17%" align="center"><strong>时间</strong></td>
                </tr>
                <tr>
                    <td height="28" align="center">&nbsp;</td>
                    <td align="center">&nbsp;</td>
                    <td align="center">&nbsp;</td>
                </tr>
                <tr>
                    <td height="28" align="center">&nbsp;</td>
                    <td align="center">&nbsp;</td>
                    <td align="center">&nbsp;</td>
                </tr>
                <tr>
                    <td height="28" align="center">&nbsp;</td>
                    <td align="center">&nbsp;</td>
                    <td align="center">&nbsp;</td>
                </tr>
                <tr>
                    <td height="28" align="center">&nbsp;</td>
                    <td align="center">&nbsp;</td>
                    <td align="center">&nbsp;</td>
                </tr>
                <tr>
                    <td height="28" align="center">&nbsp;</td>
                    <td align="center">&nbsp;</td>
                    <td align="center">&nbsp;</td>
                </tr>
                <tr>
                    <td height="28" align="center">&nbsp;</td>
                    <td align="center">&nbsp;</td>
                    <td align="center">&nbsp;</td>
                </tr>
                <tr>
                    <td height="28" align="center">&nbsp;</td>
                    <td align="center">&nbsp;</td>
                    <td align="center">&nbsp;</td>
                </tr>
                <tr>
                    <td height="28" align="center">&nbsp;</td>
                    <td align="center">&nbsp;</td>
                    <td align="center">&nbsp;</td>
                </tr>
                <tr>
                    <td height="28" align="center">&nbsp;</td>
                    <td align="center">&nbsp;</td>
                    <td align="center">&nbsp;</td>
                </tr>
                <tr>
                    <td height="28" align="center">&nbsp;</td>
                    <td align="center">&nbsp;</td>
                    <td align="center">&nbsp;</td>
                </tr>
                <tr>
                    <td height="28" align="center">&nbsp;</td>
                    <td align="center">&nbsp;</td>
                    <td align="center">&nbsp;</td>
                </tr>
                <tr>
                    <td height="28" align="right">&nbsp;</td>
                    <td height="28" align="right">&nbsp;</td>
                    <td height="28" align="right">&nbsp;</td>
                </tr>
                <tr>
                    <td height="28" colspan="3" align="right">[1] [2] [3] [4] [5] [6] 每页12封邮件 共6页 </td>
                </tr>
            </table>
            <table width="97%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td height="49" align="right">&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
</table>

